{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "SqlSever": "Server=db;Database=mercury_fire_test;User Id=sa;Password=<replace-me>;"
  }
}