{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "SqlServer": "Server=db;Database=mercury_fire_test;TrustServerCertificate=True;User Id=sa;Password=<replace-me>;"
  }
}